body {
    padding: 20px;
    margin: 20px;
}

.tasks-board {
    display: flex;
    flex-wrap: wrap;
}

.task-card {
    flex-grow: 1;
    max-width: 50%;
    margin: 8px;
}

.task-card .card-header {
    display: flex;
    justify-content: space-between;
}

.task-details .value-points::after,
.task-details .story-points::after {
    position: relative;
    display: inline-block;
    font-size: 0.8em;
}

.task-details .value-points::after {
    content: "VP";
}

.task-details .story-points::after {
    content: "SP";
}

.task-details .task-title,
.task-details .points {
    display: inline-block;
}