body {
    padding: 20px;
    margin: 20px;
}

.tasks-board {
    display: flex;
    flex-wrap: wrap;
}

.task-card {
    flex-grow: 1;
    margin: 8px;
}

.task-card .value-points,
.task-card .story-points {
    display: inline-block;
}